.snake {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0.1em 0.01em rgb(0, 0, 0);
  border-radius: 0.5em;
}

.snake .body {
  width: 100%;
  height: 100%;
  box-shadow: inherit;
  border-radius: inherit;
  background-color: rgb(0, 110, 255);
}

.snake .head {
  width: 100%;
  height: 100%;
  box-shadow: inherit;
  border-radius: inherit;
  background-color: hsl(34, 94%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
}
