.grid {
  background: rgb(0, 0, 0);
}

.grid-row {
  height: 5vmin;
}

.grid-row:nth-child(even) .grid-column:nth-child(even) {
  background: rgb(130, 209, 3);
}

.grid-row:nth-child(odd) .grid-column:nth-child(odd) {
  background: rgb(130, 209, 3);
}

.grid-column {
  height: 5vmin;
  width: 5vmin;
  display: inline-grid;
  background: rgb(118, 187, 8);
}
