.App {
  text-align: center;
  background: rgba(9, 87, 2, 0.836);
  min-height: 100vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}
