.App {
    text-align: center;
    background: radial-gradient(circle, white 1%, black 20%) ; /* #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
